body{
     
     background-image: url("https://t4.ftcdn.net/jpg/02/74/77/35/360_F_274773563_zOhj4BISY2sF39FQ131LWF2LXC5eL6TA.jpg");
     background-repeat: no-repeat;
     background-size: cover;
}

h1{
    text-align: center;
}

form{
    margin-left: 20%;
    background-color:rgba(239, 227, 239, 0.637);
    margin: 8%;
    height: 1300px;
   
   
}

label{
    text-align: left;
    margin-left: 50px;
    font-size: large;
}

input , select{
    width: 700px;
    height: 30px;
    margin-left: 50px;
    margin-top: 20px;
}

button{
    margin-left: 50%;
    background-color: rgb(201, 172, 227);
    border: 2px black solid;
    height: 40px;
    width: 80px;
    border-radius: 8px;
}

span{
    color: red;
    margin-left: 50px;
    margin-top: 20px;
}

