

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(198, 210, 211);
}

h1 {
    color: #fff;
    text-align: center;
   
    margin-left: 15px;
}


button {
    margin-left: 43%;
    padding: 10px 20px;
    background-color: #151715;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
}

button:hover {
    background-color: #777778;
}



#user  , #password{
    max-width: 500px;
    margin-left: 38%;
    margin-top: 5%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(14, 15, 15);
}

.signup{
    list-style: none;
    margin-top: 5%;
    text-align: center;
    color: #fff;
}